.p-3{
    padding: 3rem !important;
}

.mt-5{
margin-top: 5rem;
}
.nd-black{
    color: black;
}
.ml-2{
    margin-left: 2rem;
}
.mr-2{
    margin-right: 2rem;
}

/* welcome section styles. begins */

nav{
    background-color: white !important;
}

nav ul a{
    color: black !important;
}

.page-footer {
    padding-top: 0px;
    color: #fff;
    background-color:#595555;
}
.row .col {
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0rem !important;
    min-height: 1px;
}

.row{
    margin-top: 2px;
}

.btn, .btn-large, .btn-small {
    margin-left: 25px;
}


/* welcome section styles. ends */



/* quiz section styles. begin */

b, strong {
    font-weight: bolder;
    color: black;
}

.grey.darken-1 {
    margin-top: 20px;
    margin-left: 125px;
    color: white;
}

.time{
    margin-left: 825px;
}

.row .col.m4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
}

/* * {box-sizing: border-box}
body {font-family: "Lato", sans-serif;} */

/* Style the tab */
/* .tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
} */

/* Style the buttons inside the tab */
/* .tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
} */

/* Change background color of buttons on hover */
/* .tab button:hover {
  background-color: #ddd;
} */

/* Create an active/current "tab button" class */
/* .active {
  background-color: #ccc;
} */

/* Style the tab content */
/* .tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
} */
/* quiz section styles. ends */