{% load static %}
{% include "header.html" %}
<body>
    {% if messages %}
    <div class="alert alert-success alert-dismissible">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    
        
        <div class="row">
            <div class="col s6 m6 ">
                <img src="../static/images/register.jpg" width="100%">
            </div>
            <div class="col s6 m6">
                <div class="row">
                    <div class="col s12 m7 offset-m2">
                        <div class="card mt-5 ">
                            <div class="card-content p-3">
                                <div class="center-align">
                                    <img src="../static/images/logo-small.svg" width="150">
                                </div>
                                <form action="register" method="post" class="register">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input name="first_name" id="first_name" type="text" class="validate" required>
                                            <label for="first_name" >First Name</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input name="last_name"id="last_name" type="text" class="validate" required>
                                            <label for="last_name">Last Name</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input name="email" id="email" type="text" class="validate" required>
                                            <label for="email">Email</label>
                                        </div>
                                    </div>
                                    <div class="center-align"><input type="submit" class="btn"  value="Register"/> <br></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</body>
</html>