{% include "header.html" %}
<body>
  {% include "dashboard.html" %}
  <br>
  <form action="welcome" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col s12 m6 ">
        <img src="../static/images/welcome.jpg" width="80%">
      </div>
      <div class="col s12 m6">
        <!-- <h4>Hey <b style="text-transform: uppercase;"color: #c6d027;>
          &#128075;&#127995; {{user.username}}</b>&#128512; &#128519; &#128526;</h4><br> -->
          <b><h1> Talent Aquisition <br>Screening Tool</h1></b>
          <br>
          <ol style="list-style-type:disc;">
            <!-- <p class="normal"> -->
              <li>This test contain 20 questions.</li>
              <li>The test will be of 30 minutes of duration.</li>
              <li>Questions will be <b>Logicl,General knowledge and Maths.</b></li>
              <li>Please read all the Questions carefully and Answer the Questions.</li>
              <li>Please utilise all your time and answer all the Questions.</li>
              <li>All the Best</li>
            </ol>
            <br>
            <input type="button" class="btn btn-primary" onclick="start()" value="Start Test"/>
            <script>
              function start(){
                var currentTime = new Date();
                localStorage.setItem('starttime', currentTime.getTime());
                window.location.href='question/quiz'
              }
            </script>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
    </form>
    {% include "footer.html" %}
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container center-align">
          © Copyright <b>Navadhiti</b>. All Rights Reserved
        </div>
      </div>
    </footer>
  </body>
