{% include "header.html" %}

  <body>
      <div class="container">
        <form action="welcome" method="post">
          <!-- <div class="col s12 pull-s7">
            <span class="flow-text">
            </span>
          </div> -->
    

          <div class="row">
            <div class="col-sm-6">
              <div class="card1">
                <div class="card-body">
                  <img class="card-img" src="../static/images/image-1.png" alt="Card image cap">
                  <h5 class="card-title"></h5>
                  <p class="card-text"></p>
                  <!-- <a href="#" class="btn btn-primary"></a> -->
                </div>
              </div>
            </div>
            
            <div class="col-sm-6">
              <div class="card2">
                  <h1 class="card-title"><b>Where Work <br>Happens</b></h1>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.
                    This is a longer card with supporting text below as a natural lead-in to additional content.
                     This content is a little bit longer.
                  </p>
                  <input type="button" class="btn btn-primary" onclick="window.location.href='question/quiz'" value="start test"/>
                </div>
              </div>
            </div>
          </div>
      
      </div>
      {% include "footer.html" %}
  </body>
</form>
</html>