{% include "header.html" %}

  <body>
    {% include "dashboard.html" %}
      <div class="">
        <div class="center-align">
          <div class="col s12 m12">
            <h4>Hey <b style="text-transform: uppercase;"> &#128075;&#127995; {{user.username}}   </b> &#128512; &#128519; &#128526;<br>
              &#128591;&#127995; Welcome to Talent Aquisition Screening Tool by Navadhiti &#128591;&#127995;</h4>
          </div>
        </div>
        
        <div class="row">
            <div class="col s6 m6 ">
                <img src="../static/images/welcome.jpg" width="90%"> 
            </div>
        <div class="col s12 m6">
          <ol style="list-style-type:disc;">
          <b><li>This test contain 20 questions</li><br>
            <li>The test will be of 30 min of duration</li><br>
            <li>Each question carry 1 mark</li><br>
            <li>Questions will be logicl,general knowledge and maths</li><br>
            <li>Ther is no negitive marks</li><br>
            <li>No switching between tabs</li><br>
            <li>Please read the questions carefully and answe the questions</li><br>
            <li>Please utilise all your time and answer all the questions</li><br>
            <li>All the Best</li></b>
          </ol> 
          <input type="button" class="btn btn-primary" onclick="window.location.href='question/quiz'" value="Start Test"/>
        </div>
        </div>
          <!-- <input type="button" class="btn btn-primary" onclick="window.location.href='question/quiz'" value="Start Test"/> -->
      </div>
      
      
    {% include "footer.html" %}

    <footer class="page-footer"> 
      <div class="footer-copyright">
        <div class="container center-align">
          © Copyright <b>Navadhiti</b>. All Rights Reserved
        </div>
      </div>
    </footer>
  </body>
</html>